<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Info List</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Password</th>
            <th>Age</th>
            <th>More</th>
        </tr>
    </thead>
    <tbody>
    {% for user in data_list %}
        <tr>
        <td>{{user.user_id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.password}}</td>
        <td>{{user.age}}</td>
        <td><a href="/info/delete?id={{user.user_id}}">Delete</a></td>
         </tr>
    {%endfor%}
    </tbody>
</table>
<br>
<a href="/info/add">click for adding user</a>
</body>
</html>